@import './bootstrap-spacing.scss';

$arrdRed: #bf1e2e;
$arddGray: #42505c;

@font-face {
  font-family: ArabicText;
  src: url('/fonts/Adobe-Arabic-Regular.otf');
}

// html,
// body,
// body>div:first-child,
// div#__next,
// div#__next > div div {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     margin: 0;
// }

// .Content {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     background-color: rebeccapurple;
// }

:lang(en) html,
body,
div#__next {
  margin: 0;
}

:lang(ar) {
  html,
  body,
  div#__next {
    margin: 0;
    direction: rtl;
    text-align: right;
    padding-inline-start: 0;
    margin-right: 0;
    font-family: ArabicText;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
  }
}

a {
  text-decoration: none;
}

.ardd-red {
  color: $arrdRed;
}

.ardd-gray {
  color: $arddGray;
}
