@import './bootstrap-spacing.scss';

$arrdRed: #BF1E2E;
$arddGray: #42505C;

// html,
// body,
// body>div:first-child,
// div#__next,
// div#__next > div div {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     margin: 0;
// }

// .Content {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     background-color: rebeccapurple;
// }

html,
body,
div#__next{
    margin: 0;
}

.ardd-red {
    color: $arrdRed;
}

.ardd-gray {
    color: $arddGray;
}

