.slider {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .slider-items {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  
}
